# codekit #
###########
.sass-cache/
.codekit-config.json
.config.codekit
files/wp-content/themes/esco/assets/scss/.sass-cache/*
files/wp-content/themes/esco/config.codekit
/wp-content/themes/esco/config.codekit


# wpengine #
############
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/*
wp-content/blogs.dir/*
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/mu-plugins/*
wp-content/plugins/backupbuddy/*
wp-content/plugins/akismet/*
wp-content/plugins/contact-form-7/*
wp-content/plugins/gravityforms/*
wp-content/plugins/hyperdb/*
wp-content/themes/hustle/*
wp-content/themes/twentytwelve/*
wp-content/themes/twentythirteen/*
wp-content/themes/twentyfourteen/*
wp-content/themes/twentyfifteen/*
wp-content/themes/storefront/*
wp-content/plugins/wordpress-seo/*
wp-content/plugins/wordpress-popup/*
wp-content/plugins/woothemes-updater/*
wp-content/plugins/wooshippinginfo/*
wp-content/plugins/woocommerce/*
wp-content/plugins/woocommerce-subscriptions/*
wp-content/plugins/woocommerce-gravityforms-product-addons/*
wp-content/plugins/what-template-file-am-i-viewing/*
wp-content/plugins/tmm-dashboard-customizations-master/*
wp-content/plugins/testimonials-by-woothemes/*
wp-content/plugins/search-and-replace/*
wp-content/plugins/remove-wpengine-stuff-master/*
wp-content/plugins/regenerate-thumbnails/*
wp-content/plugins/gravityformsmailchimp/*
wp-content/plugins/features-by-woothemes/*
wp-content/plugins/duplicate-post/*
wp-content/plugins/all-in-one-favicon/*
wp-content/plugins/advanced-custom-fields-pro/*
wp-content/plugins/advanced-custom-fields/*
wp-content/plugins/acf-*
wp-content/plugins/enable-media-replace/*
wp-content/plugins/fusion-core/*
wp-content/plugins/revslider/*
wp-content/plugins/maintenance-mode/*
wp-content/themes/Avada/*
wp-content/plugins/phpinfo/*
wp-content/plugins/meteor-slides/*
wp-content/plugins/jquery-rotate/*
wp-content/plugins/import-users-from-csv/*
wp-content/plugins/image-widget/*
wp-content/plugins/google-analyticator/*
wp-content/plugins/editorial-calendar/*
wp-content/plugins/easy-fancybox/*
wp-content/plugins/audit-trail/*
wp-content/plugins/really-simple-captcha/*
wp-content/plugins/royalslider/*
wp-content/plugins/typekit-fonts-for-wordpress/*
wp-content/plugins/user-switching/*
wp-content/plugins/username-changer/*
wp-content/plugins/wp-changes-tracker/*
wp-content/plugins/wp-password-generator/*
wp-content/themes/twentyeleven/*
wp-content/plugins/woocommerce-gateway-stripe/*
wp-content/plugins/wp-migrate-db-pro-media-files/*
wp-content/plugins/wp-migrate-db-pro/*
wp-content/plugins/display-widgets/*
wp-content/plugins/simple-custom-post-order/*
wp-content/plugins/page-comments-off-please/*
wp-content/plugins/woocommerce-google-trusted-stores-integration-master/*
wp-content/plugins/types/*
wp-content/plugins/vaultpress/*
wp-content/plugins/responsive-video-embeds/*
wc-logs/*
landing/importbuddy.php
landing/importbuddy.php


# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts/*
wp-content/mu-plugins/wpengine-common/*
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php


*~
.svn
.cvs
.git
.listing
*.bak
*.swp
*.log
plugins/wp-file-cache/cache
cache
_wpeprivate
.cache
temp
tmp
*.tmp
imagecache*
uploads*
*_backup
gt-cache
ics-importer-cache
wp-config-sample.php
wp-content/w3tc*
wp-content/w3-*
wp-content/plugins/wpengine-snapshot/snapshots/*
wp-content/uploads/snapshots
wp-content/themes/thesis*/custom/cache
wp-content/themes/thesis*/lib/scripts/cache
wp-content/themes/*/cache
wp-content/plugins/*/cache
wp-content/w3tc-bak
wp-content/backup*
wp-content/temp*
wp-content/debug.log
wp-content/backups
wp-content/managewp
wp-content/upgrade/*
wp-content/uploads
wp-content/blogs.dir/*/*
pclzip-*

# WordPress debugging files
log.txt
debug.log

# Gallaries in various places
gallery/*
wp-content/gallery/*
wp-content/album/*

# Found in 'sneakernews' - probably just a backup but never going to be good to include
wp-content/plugins/plugins

# Found in the root of pod-1009
.a

# Vagrant
.vagrant

# Forum software we probably shouldn't support anyway
forum/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz
