<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>WP-REST DEMO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.js"></script>
    
    <script>

        function WpRestController($scope, $http) {

            $scope.viewList = true;

            $scope.submitComment = function(comment) {
            console.log('sumbit form');
                $http({
                    method : 'GET',
                    url : '/api/respond/submit_comment?post_id=' + $scope.post_id
                        + '&name=' + escape($scope.comment.name)
                        + '&email=' + escape($scope.comment.email)
                        + '&content=' + escape($scope.comment.content)
                })
                .success(function(data, status) {
                console.log('success', status);
                    $scope.getOnePost($scope.post_id);

                })
                .error(function(data, status) {
                    console.log('error');
                    console.dir(status);
                });
            }

            $scope.getOnePost = function(id) {
            console.log('loading post', id);
                $http({
                    method : 'GET',
                    url : '/api/core/get_post',
                    params : { 'id' : id, 'post_type' : 'cryns_audio_file', 'custom_fields' : 'Audio File' }
                })
                .success(function(data, status) {
                    console.dir(data);
                    //data = JSON.parse(data);
                    
                    $scope.getAudioFile(data.post.custom_fields['Audio File'][0]);
                    $scope.oneTitle = data.post.title;
                    $scope.oneContent = data.post.content;
                    $scope.comments = data.post.comments;
                    $scope.post_id = data.post.id;
                    $scope.viewList = false;
                    $scope.audioFile = data.post.custom_fields['Audio File'][0];
                    
                    
                    /* for testing */
                    $scope.comment = {};
                    $scope.comment.name = 'Erik';
                    $scope.comment.email = 'gozz@gozz.com';
                    $scope.comment.content = 'My comment';

                })
                .error(function(data, status) {
                    console.dir(status);
                });
            }

            $scope.getAudioFile =  function(id) {
                console.log('loading attachment');
                $http({
                    method : 'GET',
                    url : '/api/core/get_post',
                    params : { 'id' : id,
                        'post_type' : 'attachment',
                        'post__in' : id
                    }
                })
                .success(function(data, status) {
                    console.log('attachment response');
                    console.dir(data);
                    $scope.audioFile = data.post.content;
                    var audioElement = document.getElementsByClassName('wp-audio-shortcode');
                    for (i in audioElement) {
                        console.dir(i + ' == ' + audioElement[i]);
                    }
                    console.dir(audioElement);
                    audioElement.style.visible = true;
                    

                })
                .error(function(data, status) {
                    console.dir(status);
                });
            }
            
            $scope.backToList = function() {
                $scope.viewList = true;
            }
            
            $scope.getItems = function() {

                $http({
                    method : 'GET',
                    url : '/api/get_posts',
                    params : { 'post_type' : 'cryns_audio_file' }
                })
                .success(function(data, status) {
                    $scope.data = data.posts;
                    console.dir(data);
                })
                .error(function(data, status) {
                    console.dir(status);
                });
            }

        }

        angular.module('app', [])
            .controller('WpRestController', WpRestController)
            .filter('unsafe', function($sce) { return $sce.trustAsHtml; });

    </script>
</head>
<body ng-controller="WpRestController" >

<h1>WP-REST DEMO</h1>

<div ng-init="getItems()" style="width:45%;float:left">

    <div ng-repeat="post in data">
        <h2 ng-bind="post.title"></h2>
        
        <a ng-click="getOnePost(post.id)" href>view</a>

        <p><em ng-bind="post.date_gmt | date:'MMMM d, yyyy'"></em></p>
        <div ng-bind-html="post.content | unsafe"></div>
        <!-- <div>user_story_done_or_not = {{post.terms.user_story_done_or_not.0.slug}}</div> -->
        <div>ID = {{post.id}}</div>
    </div>

</div>

<div style="width:45%; float:left;" ng-show="!viewList">
    
        <h2 ng-bind="oneTitle"></h2>
        <div ng-bind-html="oneContent | unsafe"></div>

        <div ng-bind-html="audioFile | unsafe"></div>
        
        <div ng-repeat="comment in comments">

            <p><em ng-bind="comment.date | date:'MMMM d, yyyy'"></em></p>
            <div ng-bind-html="comment.content | unsafe"></div>
            <div ng-bind="comment.name"></div>

        </div>

        <form>
            <p><strong>Leave a comment</strong></p>
            <input type="text" placeholder="(name)" ng-model="comment.name"><br>
            <input type="email" placeholder="(email)" ng-model="comment.email"><br>
            <textarea name="content" placeholder="(compose your comment here)" ng-model="comment.content"></textarea><br>
            <button name="post_id" ng-click="submitComment(this)" ng-model="comment.id">Add Comment</button>
        </form>

        <a ng-click="backToList()" href>Back to list</a>
    
</div>




</body>
</html>