/* Tables */

table {
	margin-bottom: 15px;
}

table, th, td {
	border: 1px solid rgba(51, 51, 51, 0.1);
}

th, td {
	padding: 0.4em;
}

/* =Item Panel
----------------------------------------------- */

.app-panel {
	display:none;
	right: 0;
	position: absolute; // might need to be fixed, but fixed is broken on old android
	-webkit-backface-visibility: hidden;
	z-index: 6;
	top: 0;
	bottom: 0;
	background-color: $body-bg;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}

.app-panel .product {
    overflow: hidden;
    height: 100%;
}

.item-content {
	position: relative;
    height: 100%;
}

.app-panel .item-content {
	height: auto;
	@include breakpoint (medium) {
		height: 100%; // fixes overflow problem
	}
}

.open-panel body .app-panel {
	overflow-x: hidden;
	-webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
}

/* Stages page transitions */
.stage-bottom .app-panel {
    width: 100%;
	-webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.stage-top .app-panel {
    width: 100%;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.app-panel #main {
	top: 0;
    bottom: auto;
    padding: 0 3%;
    height: auto;
    @include breakpoint(small) {
    height: 100%;
    }
}

header.toolbar {
	height: 50px;
    padding: 0 3%;
	width: 100%;
	background-color: $brand-primary;
}

.toolbar .btn {
	margin: .8em 0 0;
	color: #fff;
}

.btn-wide {
	width: 100%;
}

.ajax-spinner {
	display: none;
	color: white;
	opacity: .7;
	position: absolute;
	top: 25%;
	left: 50%;
	right: 50%;
	width: 56px;
	height: 55px;
	margin-left: -28px;
	z-index: 999;
	background: #000000;
	padding: 5px;
	border-radius: 6px;
	text-align: center;
}

/* =Extensions
----------------------------------------------- */

#appp_cam_post_title {
	margin-bottom: 10px;
}

/* =Settings Page
----------------------------------------------- */

.list-group i {
	margin-top: .4rem;
}

/* =Twitter Bootstrap/Font Awesome Customizations
----------------------------------------------- */

.relative {
	position: relative;
}
.panel-heading {
	position: relative; /* Keeps dropdowns in place */
}
.panel-footer {
	font-size: smaller;
}

.page-template-page-music-php .list-group-item i {
	position: relative;
	top: 4px;
	color: #999;
}

#main .list-group {
	background: none;
}
.list-group-item {
	background: #fff;
}

.pager .previous a, .pager .next a {
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =Woocommerce fixes (for when plugin not active)
----------------------------------------------- */

.woocommerce #main .woocommerce-breadcrumb, .woocommerce-page #main .woocommerce-breadcrumb {
	margin-top: 15px;
}

.woocommerce #body-container #main nav.woocommerce-pagination ul {
	border: none;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.single-product .hentry {
	margin: 0;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-links a {
	padding: .3em .5em;
	background-color: $pagination-bg;
    border: 1px solid $pagination-border;
}
.entry-meta {
	font-weight: 300;
	font-size: 12px;
	font-size: 1.2rem;
	color: #999;
	margin-bottom: 1em;
}
.single footer.entry-meta, .search footer.entry-meta {
	margin: 1em 0 0;
}
.appp-posted-on {
	margin-right: 5px;
}
.page footer.entry-meta {
	padding-top: 1.5em;
}
footer.entry-meta {
	padding-top: .5em;
	opacity: .7;
	font-size: 12px;
	font-size: 1.2rem;
}
.post {
	padding: .6em 0 1.3em 0;
	margin-bottom: 2em;
	.attachment-post-thumbnail {
		float: left;
		margin: 0 1em 1em 0;
	}
}
.single .post {
	margin-bottom: 0;
}
.page .entry-header, .single .entry-header {
	margin-top: 2em;
	padding-bottom: 0;
}
.archive .entry-header .taxonomy-description p {
	margin-bottom: 0;
}
.archive .taxonomy-description {
	margin-top: 1em;
}
// .archive #primary, .search #primary {
// 	margin-top: .8em;
// }
.search .page-title, .archive .page-title {
	margin-bottom: .5em;
}
.search .post {
	border-bottom: 1px solid $gray-lighter;
}
blockquote {
	font-style: italic;
}
.blog .site-content, .archive .site-content {
	padding-top: 1em;
}

.action-sheet-title {
	padding: 10px;
	color: #666666;
	text-align: center;
	font-size: 12px;
	clear: both;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	height: auto;
}
.site-header img,
.entry-content img,
.widget-img,
img[class*="align"],
img[class*="wp-image-"],
.wp-caption img {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
.widget img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.attachment-featured.wp-post-image {
	margin: 0 10px 10px 0;
}
.wp-caption {
	max-width: 100%;
	text-align: center;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.alignnone {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery {
	margin-bottom: 1.5em;
}
.wp-caption-text,
.gallery-caption,
.wp-caption {
	font-size: 12px;
	font-size: 1.2rem;
	color: #999;
}
#content .gallery a img {
	max-width: 90%;
}
#content .gallery a img, .attachment-post-thumbnail, .wp-caption {
	border: none;
	height: auto;
}
#content .gallery dd {
	margin: 0;
}
.attachment-post-thumbnail {
	margin-bottom: 1.3em;
}
.group-blog .attachment-post-thumbnail {
	margin-bottom: 1.5em;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
	max-height: 300px;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	font-size: 13px;
	font-size: 1.3rem;
	font-style: italic;
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	max-width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	max-width: 50%;
}
.navigation-post {
	display: block;
	margin-bottom: 1.5em;
	overflow: hidden;
}


/* =Widgets
----------------------------------------------- */

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .submit {
	display: none;
}

#header-widget-area {
	padding: 0;
	max-width: 70%;
	float: right;
	margin-right: -.6em; // makes icons flush with content

	nav {
		position: relative;
	}
}

#header-widget-area .widget {
	margin: 0 .5em 0 0;
	float: left;
}

#header-widget-area .widget_search .dropdown {
	position: static;
}

header .search-dropdown {
	padding: .5em;
	border: none;
	background-color: $brand-primary;
	left: 2% !important;
	right: 2% !important;
	width: auto;
	top: 95%;
	margin-top: 0;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
}




/* =Site Footer
----------------------------------------------- */

.footer-widget-area {
	margin-top: 2em;
	clear: both;
	overflow: hidden;
}
.site-footer {
	clear: both;
	width: 100%;
	background: $brand-primary;
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
}
.site-footer .widget {
	float: left;
	width: 22.5%;
	margin-left: 5%;
}
.site-footer .widget:first-child {
	margin-left: 0;
	width: 45%;
}
.site-info {
	font-size: 12px;
	font-size: 1.2rem;
	padding: 1.5em 0;
	text-align: center;
}
.site-info, .site-info a {
	color: #999;
}

/*** Footer Menu ***/

footer nav {
	height: 40px;
	p {
		margin-bottom: 0;
	}
}
footer nav ul ul {
	display: none;
}
footer .nav > li > a {
	padding: .8rem .3rem 0;
	margin: 0;
	font-size: 1.2rem;
	color: #fff;
	height: 40px;
	@include breakpoint(medium) {
		padding: 1rem;
	}
}

footer nav .fa {
	display: block;
}

footer ul.nav-justified {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: horizontal;
	-moz-flex-direction: horizontal;
	-ms-flex-direction: horizontal;
	flex-direction: horizontal;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

footer .nav-justified > li, footer .nav-tabs.nav-justified > li, footer .nav-tabs.nav-justified > li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	overflow: hidden;
	height: 100%;
	width: auto;
	text-align: center; }

.has-footer-menu #main {
	margin-bottom: 40px !important; // Moves content up to make room for footer menu
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .navigation-paging, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}


/* spinner */
.ajax-spinner .spinner, #buddypress li.load-more a .spinner { 
height:40px;
width:40px;
margin:3px auto;
position:relative;
-webkit-animation: rotation .6s infinite linear;
-moz-animation: rotation .6s infinite linear;
-o-animation: rotation .6s infinite linear;
animation: rotation .6s infinite linear;
border-left:4px solid rgba(255,255,255,.15);
border-right:4px solid rgba(255,255,255,.15);
border-bottom:4px solid rgba(255,255,255,.15);
border-top:4px solid rgba(255,255,255,1);
border-radius:100%;
}

#buddypress li.load-more a .spinner {
	height: 20px;
	width: 20px;
	border-width: 2px;
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

/* =AppTheme 2 additions
----------------------------------------------- */

#main {
	padding: 15px 10px;
}

.header-inner {
	width: 99%;
}

.pager li > a, .shelf-search input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h1.site-title.page-title {
	font-weight: 600;
}

.site-header a {
	opacity: 1;
}

.log-out-button a {
	padding: 5px;
}

.site-title { 
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.swiper-container {
	margin: 0 -10px 10px -10px;
}

.entry-meta {
	font-size: 15px;
}

/*--------------------------------------------------------------
2 - Lists
--------------------------------------------------------------*/

.list .post {
	padding: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.list a {
	display: inline-block;
}

.list {
	margin: -30px 0 0 0;
}

.list ul {
	padding: 0;
	margin: -10px;
	background: #ffffff;
}

.list .item-content {
	padding: 10px;
	min-height: 44px;
	border-bottom: 1px solid #efefef;
}


.list .item-inner {
	width: 100%;
}

.list .item-title {
	font-weight: 600;
	font-size: 16px;
}

.list .item-text {
	font-size: 15px;
	color: #969292;
	font-weight: 400;
	position: relative;
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.list .item-text p {
	margin: 0;
}


/* media list */
.medialist .post {
	padding: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.medialist a {
	display: block;
}

.medialist {
	margin: -30px 0 0 0;
}

.medialist ul {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #dadada;
	margin: 0;
	background: #ffffff;
}

.medialist .item-content {
	padding-left: 15px;
	min-height: 44px;
}

.medialist .item-media {
	width: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: -webkit-flex;
	-webkit-flex-shrink: 0;
	-webkit-box-lines: single;
	-webkit-flex-wrap: nowrap;
	box-sizing: border-box;
	-webkit-box-align: center;
	-webkit-align-items: center;
}

.medialist .item-media img {
	display: block;
	height: 80px;
	width: 80px;
}

.medialist .item-inner {
	margin-left: 105px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 5px;
	top: 0;
	border-bottom: 1px solid #efefef;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	margin-top: 10px;
}

.medialist div.post:last-child div.item-inner {
	border-bottom: none;
}

.medialist .item-title {
	font-weight: 600;
	font-size: 16px;
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
	flex-shrink: 1;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.medialist .item-text {
	font-size: 15px;
	color: #969292;
	font-weight: 400;
	position: relative;
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.medialist .item-text p {
	margin: 0;;
}


/*card list */

.cardlist .post {
	padding: 0;
	margin: 10px 0;
	background: #ffffff;
	border: 1px solid #e4e4e4;
}

.cardlist a {
	display: block;
}

.cardlist {
	margin: -30px 0 0 0;
}

.cardlist ul {
	padding: 0;
	margin: 0;
}

.cardlist .card-header {
	padding: 10px;
	min-height: 44px;
	font-weight: 600;
	font-size: 16px;
}



.cardlist .card-content {
	border-top: 1px solid #efefef;
}

.cardlist .card-content-inner {
	padding: 10px;
}

.cardlist .card-media, .cardlist .card-media img {
	width: 100%;
}

.single .wp-post-image {
	margin: 0 0 15px 0;
}

/* BuddyPress */

#buddypress ul.item-list li img.avatar {
	max-width: 50px;
}